.paraf-bottom {
    p {
        margin-bottom: 20px;;
    }
}

.tc-partners-style3 .logos .logo-card{ 
    
    .cert.logo {
        max-width: 235px;
        max-height: 145px;    
    }
    p.title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
    }
}

.fsz-18 p{
    font-size: 18px !important;
}

.tc-portfolio-style3 .title .links a{
    margin-inline-end: 30px;
}
