.paraf-bottom {
    p {
        margin-bottom: 20px;;
    }
}

.top-header {
    .title {
        font-size: 60px !important;
        font-weight: 600; 
        color: var(--color-dark1);
        text-align: center;
        span, em, i {
            color: var(--color-yellow1);
            font-style: normal;
            font-weight: 400; 
        }
    }

    &.with-image {
        .title {
            color: #fff;
            font-size: 80px !important;
        }
    }
}

.tc-header-style3 .header-video .logo-wrapper {
    left: 20px;
    img {
        width: 120px;
    }
}

.tc-partners-style3 .logos .row {
    margin: 0 auto !important;

    &.center-middle-logos{
        justify-content: center;
    }
}

.tc-partners-style3 .logos .logo-card{ 
    width: 205px;
    aspect-ratio: 1;
    height: 205px;
    
    .cert.logo {
        max-width: 235px;
        max-height: 145px;

        width: 105px;
    }
    p.title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
    }
}

.tc-partners-style3 .logos .logo-card.grayscale{ 
    .cert.logo {
        filter: grayscale(1);
    }
    p.title {
        font-weight: bold;
    }

    &:hover{
        .cert.logo {
            filter: grayscale(0)
        }
        p.title {
            color: var(--color-yellow1);
        }
    }
}

.tc-partners-style3.clients {
    background-color: #ECECEC;
}

.fsz-18 p{
    font-size: 18px !important;
}

.tc-portfolio-style3 .title .links a{
    margin-inline-end: 30px;
}

.tc-footer-style3 {
    padding: 40px 0 80px;

    .top-info .foot-logo{
        height: 120px;
    }
}

.tc-team-style3 {
    position: relative;
    padding: 140px 0;
    background-color: #ececec;
    overflow: hidden;

    &.home {
        background-color: #fff;
    }

    .team-members {
        .team-member {
            text-align: center;

            .name {
                font-size: 2rem;
            }

            .title {
                font-size: 0.9rem;
                font-style: italic;
                font-weight: bold;
                color: #666;
            }

            .position{
                font-size: 1rem;
                color: var(--color-orange1);
            }

            img.person{
                border-radius: 20px;
                width: 300px;
                height: 300px;
                object-fit: cover;
            }

        }
        .team-member.small-member {
            .name {
                font-size: 1.8rem;
            }

            .title {
                font-size: 0.8rem;
            }

            .position{
                font-size: 1rem;
                color: var(--color-yellow1);
            }

            img.person{
                border-radius: 20px;
                width: 160px;
                height: 160px;
                object-fit: cover;
            }
        }

        .teams-title {
            font-weight: 300;
            color: var(--color-dark1) !important;
            text-align: start;
            opacity: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: 18px;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            left: 23%;
        }

        .teams-link {
            height: 300px;
            width: 300px;
            border: 2px solid #aaa;
            border-radius: 10%;
            text-align: center;
            position: relative;
        }
    }

    .intro {
        font-style: italic;
        font-size: 18px;
        padding: 8px;
        text-align: center;
        font-family: inherit;
        font-weight: bold;
        color:#666;
    }
}

.tc-team-style4.slide .team-member {
    margin-bottom: 50px;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;

    img.person{
        border-radius: 40px;
        width: 300px;
        height: 300px;
        object-fit: cover
    }
    
    .member-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        max-width: 300px;
        /* Start slightly below */
        transform: translateY(30%);
        transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        padding-bottom: 30px;

        .basic {
            font-size: 16px;
            text-align: center;
            padding: 15px 0 10px 0;
            
            .name {
                font-size: 1.5rem;
                transition: font-size 0.3s ease;
            }
            
            .position {
                font-size: 0.8rem;
                color: var(--color-yellow1);
                font-weight: bold;
            }
            
            .title {
                font-size: 0.7rem;
                color: #666;
                margin: 0;
                font-style: italic;
                font-weight: bold;
            }
        }

        .personal-info {
            display: none;
            padding: 0 15px 15px 15px;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.5s ease, opacity 0.4s ease, padding 0.4s ease;
        }
    }
    
    &:hover .member-info {
        transform: translateY(0); /* Slides up to normal position */
        padding-bottom: 0px;
        .name {
            font-size: 1.2rem;
        }
        
        .personal-info {
            display: block;
            max-height: 300px;
            opacity: 1;
            padding: 0px 15px 10px 15px;
        }
    }
}

.tc-services-style3 .servives-cards .service-card {
    position: relative;
    bottom: 0px;
    height: 100%;
    border: 1px solid #ececec;

    &.sm-card {
        .img {
            width: 230px;
            height: 230px;
        }
    }
}

.service-card .tc-partners-style3 {
    padding: 40px 0;
    background-color: transparent;
    .logos .logo-card {
        background-color: transparent;
    }
}


.all-card, .tc-contact-style3  {

    .ktk-eml-inf{
        color: var(--color-orange1);

        &:hover{
            text-decoration: underline;
        }
    }
}

.tc-contact-style3{
    background-color: #ececec;
}

.tc-about-style3 .top-info {

    .intro {
        color: #666;
        font-style: italic;
    }

    .intro-box {
        padding: 50px;
        background-color: #fff;
        border: solid 2px var(--color-yellow1);
        color: #666;
        clip-path: polygon(calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%, 0 0);
    }

    .call-to-action-box{
        margin-top: 50px;
        padding: 40px 80px 40px 40px;
        background-color: #fff;
        border: 1px solid var(--color-orange1);
        display: inline-flex;
        font-size: 1.2rem;
        
        clip-path: polygon(calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%, 0 0);

        p {
            font-size: 1.2rem;
        }

        .ktk-eml-inf{
            color: var(--color-orange1);
    
            &:hover{
                text-decoration: underline;
            }
        }
    }

}

/* --------------- portfolio style8 --------------- */
.tc-portfolio-style8 {
    position: relative;
    color: #fff; }
    .tc-portfolio-style8 .nav-pills {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 50px; }
      .tc-portfolio-style8 .nav-pills .nav-link {
        padding: 0;
        -webkit-margin-end: 30px;
        margin-inline-end: 30px;
        color: #fff;
        background-color: transparent;
        opacity: 0.6; }
        .tc-portfolio-style8 .nav-pills .nav-link.active {
          opacity: 1; }

    .tc-portfolio-style8 #pills-tabContent{
        min-height: 440px;
    }

    .tc-portfolio-style8 .project-content .title {
      font-size: 100px;
      letter-spacing: -0.05em;
      font-weight: 600;
      margin-top: 80px; }

    .tc-portfolio-style8 .project-content .text {
        color: #fff;
        font-size: 1rem;
        p{
            font-size: 1rem;
        }
    }

    .tc-portfolio-style8 .imgs .tab-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .tc-portfolio-style8 .imgs .tab-img.current {
        opacity: 1; }
  
  @media screen and (max-width: 991px) {
    .tc-portfolio-style8 .project-content .title {
      font-size: 40px;
      margin-top: 50px; }
    .tc-portfolio-style8 .nav-pills .nav-link {
      -webkit-margin-end: 0;
      margin-inline-end: 0;
      margin-bottom: 15px; } 
}

.dark-bg {
    background-color: var(--color-dark1);
}

.styled-title {

    color: var(--color-dark1);
    span, em, i {
        color: var(--color-yellow1);
        font-style: normal;
        font-weight: 400; 
    }
    &.orange{
        span, em, i {
            color: var(--color-orange1);
        }
    }
}
  

.tc-header-style2 {
    position: relative;
    padding: 40px 0;
   
}

.s-project-pg-style2 {
    h1 {
        /*font-size: 60px;
        font-weight: 600; */
        text-align: center;
        span, em, i {
            color: var(--color-yellow1);
            font-style: normal;
            font-weight: 400; 
        }
    }

    .subtitle {
        font-weight: 400;
        span, em, i {
            color: var(--color-yellow1);
            font-style: normal;
            font-weight: 400; 
        }
    }
}

.margin-p p {
    margin-bottom: 25px;;
}

.info-row {

    .info {
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        padding: 20px;
        border: 0;

        &.yellow {
            background-color: var(--color-yellow1);
            color: #fff;
            .text {
                color: #fff;
            }
        }

        &.dark {
            background-color: #fff;
            color: var(--color-dark1);
            .text {
                color: var(--color-dark1);
            }
            border: solid 1px var(--color-dark1);
        }

        &.light {
            background-color: #ececec;
            color: var(--color-dark1);
            .text {
                color: var(--color-dark1);
            }
            border: solid 1px var(--color-dark1);
        }

    }
}

.services-pg-style1 .tc-process-style1 {
    .c-line{
        width:42%;
        z-index: 10;
    }

    .accordion-item .accordion-button {
        h3:hover {
            text-decoration: underline;
        }

        &:not(.collapsed) {
            border-color: var(--color-orange1);
        }
    }

    .lepesa {
        position: relative;
        display: block;
        height: 100%;
        .wow {
            position: absolute;
            
        
            &.deg-0{
                transform: rotate(0deg) scale(1);
            }
            &.deg-15{
                transform: rotate(15deg) scale(1);
            }
            &.deg-30{
                transform: rotate(30deg) scale(1);
            }
            &.deg-45{
                transform: rotate(45deg) scale(1);
            }
        }
        &:hover {
            .deg-0{
                transform: rotate(0deg) scale(1);
            }
            .deg-15{
                transform: rotate(20deg) scale(1);
            }
            .deg-30{
                transform: rotate(40deg) scale(1);
            }
            .deg-45{
                transform: rotate(60deg) scale(1);
            }
        }

    }
}

.team-section {
    background-color: #1F1F1F;


    .text {
        color: #aeaeae;
    }

    .team-member {
        .person {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
}

.section-with-bg {
    position: relative;
    padding: 110px 0;
    overflow: hidden;
    .container, .info-row {
        position: relative;
        z-index: 10;
    }
    .bg.pores {
        position: absolute;
        left: 0;
        top: -15%;
        width: 100%;
        height: 130%;
        -o-object-fit: cover;
        object-fit: cover;
        background-image: url(../img/prc_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        max-height: inherit;
    }
}

.s-header-style2 {
    .bg {
        position: absolute;
        left: 0;
        top: 0;
        max-height: unset;
        height: 200%;
        object-position: top;
        margin-top: -25%;
        transition: all linear;
    }

    &.slimmer {
        height: 400px;
        min-height: 50vh;
        display: flex;
        align-items: flex-end;
        padding: 100px 0;
        .bg {
            height: 120%;
            margin-top: -5%;
        }
    }
}

.projects .s-header-style2 {
    /*height: 400px;*/
    .bg{
        height: 120%;
        margin-top: -5%;
    }
}

.project-info {
    .project-desc, .project-desc p {
        font-size: 18px;
    }
    .project-desc p {
        margin-bottom: 20px;
    }

    .note {
        .label {
            font-size: 16px;
            font-weight: bold;
            color: var(--color-gray1);
        }
    }
}

