.paraf-bottom {
    p {
        margin-bottom: 20px;;
    }
}

.tc-header-style3 .header-video .logo-wrapper {
    left: 20px;
    img {
        width: 120px;
    }
}

.tc-partners-style3 .logos .row {
    margin: 0 auto !important;

    &.center-middle-logos{
        justify-content: center;
    }
}

.tc-partners-style3 .logos .logo-card{ 
    width: 205px;
    aspect-ratio: 1;
    height: 205px;
    
    .cert.logo {
        max-width: 235px;
        max-height: 145px;

        width: 105px;
    }
    p.title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
    }
}

.tc-partners-style3 .logos .logo-card.grayscale{ 
    .cert.logo {
        filter: grayscale(1);
    }
    p.title {
        font-weight: bold;
    }

    &:hover{
        .cert.logo {
            filter: grayscale(0)
        }
        p.title {
            color: var(--color-yellow1);
        }
    }
}

.tc-partners-style3.clients {
    background-color: #ECECEC;
}

.fsz-18 p{
    font-size: 18px !important;
}

.tc-portfolio-style3 .title .links a{
    margin-inline-end: 30px;
}

.tc-footer-style3 {
    padding: 40px 0 80px;

    .top-info .foot-logo{
        height: 120px;
    }
}

.tc-team-style3 {
    position: relative;
    padding: 140px 0;
    background-color: #ececec;
    overflow: hidden;

    .team-members {
        .team-member {
            text-align: center;

            .name {
                font-size: 2rem;
            }

            .title {
                font-size: 0.9rem;
                font-style: italic;
                font-weight: bold;
                color: #666;
            }

            .position{
                font-size: 1rem;
                color: var(--color-orange1);
            }

            img.person{
                border-radius: 50%;
                width: 300px;
                height: 300px;
                object-fit: cover;
            }
        }
        .team-member.small-member {
            .name {
                font-size: 1.8rem;
            }

            .title {
                font-size: 0.8rem;
            }

            .position{
                font-size: 1rem;
                color: var(--color-yellow1);
            }

            img.person{
                border-radius: 50%;
                width: 160px;
                height: 160px;
                object-fit: cover;
            }
        }
    }

    .intro {
        font-style: italic;
        font-size: 18px;
        padding: 8px;
        text-align: center;
        font-family: inherit;
        font-weight: bold;
        color:#666;
    }
}

.tc-services-style3 .servives-cards .service-card {
    position: relative;
    bottom: 0px;
    height: 100%;
    border: 1px solid #ececec;

    &.sm-card {
        .img {
            width: 230px;
            height: 230px;
        }
    }
}


.all-card, .tc-contact-style3  {

    .ktk-eml-inf{
        color: var(--color-orange1);

        &:hover{
            text-decoration: underline;
        }
    }
}

.tc-about-style3 .top-info {

    .intro {
        color: #666;
        font-style: italic;
    }

    .intro-box {
        padding: 50px;
        background-color: #fff;
        border: solid 2px var(--color-yellow1);
        color: #666;
        clip-path: polygon(calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%, 0 0);
    }

    .call-to-action-box{
        margin-top: 50px;
        padding: 40px 80px 40px 40px;
        background-color: #fff;
        border: 1px solid var(--color-orange1);
        display: inline-flex;
        font-size: 1.2rem;
        
        clip-path: polygon(calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%, 0 0);

        p {
            font-size: 1.2rem;
        }

        .ktk-eml-inf{
            color: var(--color-orange1);
    
            &:hover{
                text-decoration: underline;
            }
        }
    }

}

/* --------------- portfolio style8 --------------- */
.tc-portfolio-style8 {
    position: relative;
    color: #fff; }
    .tc-portfolio-style8 .nav-pills {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 50px; }
      .tc-portfolio-style8 .nav-pills .nav-link {
        padding: 0;
        -webkit-margin-end: 30px;
        margin-inline-end: 30px;
        color: #fff;
        background-color: transparent;
        opacity: 0.6; }
        .tc-portfolio-style8 .nav-pills .nav-link.active {
          opacity: 1; }
    .tc-portfolio-style8 .project-content .title {
      font-size: 100px;
      letter-spacing: -0.05em;
      font-weight: 600;
      margin-top: 80px; }
    .tc-portfolio-style8 .project-content .text {
        color: #fff;
        font-size: 1rem;
        p{
            font-size: 1rem;
        }
    }
    .tc-portfolio-style8 .imgs .tab-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .tc-portfolio-style8 .imgs .tab-img.current {
        opacity: 1; }
  
  @media screen and (max-width: 991px) {
    .tc-portfolio-style8 .project-content .title {
      font-size: 40px;
      margin-top: 50px; }
    .tc-portfolio-style8 .nav-pills .nav-link {
      -webkit-margin-end: 0;
      margin-inline-end: 0;
      margin-bottom: 15px; } 
}
  

