    <!--  Start footer  -->
    <footer class="tc-footer-style3">
    <div id="ktk-eml-inf" data-inf="{{ .Site.Params.contact.base_email }}"></div>
    <div class="container">
        <div class="top-info">
            <div class="row gx-0 align-items-end">
                <div class="col-lg-4">
                    <a href="#" class="foot-logo mb-5 mb-lg-0">
                        <img src="{{ .Site.Params.logo }}" alt="logo">
                    </a>
                </div>
                <div class="col-lg-4">
                    <!--<a href="#" class="text-uppercase mb-5 mb-lg-0"> <span> private client </span> <i class="ti-arrow-top-right ms-2"></i> </a>-->
                </div>
                <div class="col-lg-4">
                    <div class="top-links text-lg-end mb-5 mb-lg-0">
                        <a href="#"> company </a>
                        <a href="#"> services </a>
                        <a href="#"> works </a>
                        <a href="#"> news </a>
                        <a href="#"> contact </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-lg-4 col-12 mb-5 mb-lg-0">
                    <h5 class="fsz-24 text-uppercase fw-500 lh-5"> {{ .Site.Params.footer.title | markdownify }} </h5>
                </div>
                <div class="col-lg-5 col-8 offset-lg-1 mb-5 mb-lg-0">
                    <div class="adresses">
                        <div class="adress-card mb-70">
                            <h5 class="fsz-24 text-uppercase fw-500 lh-5 mb-4">{{ .Site.Params.contact.city }}</h5>
                            <ul class="color-999 lh-5">
                                <li> <a href="{{ .Site.Params.contact.map_link }}" target="_blank"> {{ .Site.Params.contact.address }} </a> </li>
                                <li> <a href="#" class="ktk-eml-inf ktk-eml-inf-link"> info@domain.com </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4">
                    {{ with .Site.Params.social }}
                    <div class="social">
                        <h5 class="fsz-24 text-uppercase fw-500 lh-5 mb-4"> Social </h5>
                        <div class="social-links">
                            {{ with .twitter }}
                            <a href="{{ .}}"> <i class="lab la-twitter"></i> </a>
                            {{ end }}
                            {{ with .linkedin }}
                            <a href="{{ .}}"> <i class="lab la-linkedin"></i> </a>
                            {{ end }}
                            {{ with .instagram }}
                            <a href="{{ .}}"> <i class="lab la-instagram"></i> </a>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="row align-items-center">
                <!--<div class="col-lg-4">
                    <div class="btn-select">
                        <select name="" id="" class="form-select">
                            <option value="">English</option>
                            <option value="">Arabic</option>
                        </select>
                    </div>
                </div>-->
                <div class="col-lg-4"></div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <p class="color-999 text-center"> © <script>document.write(new Date().getFullYear());</script> {{ .Site.Params.footer.copyright }} </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--  End footer  -->
