<header class="tc-header-style3">
    <div class="header-video">
        <div class="logo-wrapper">
            <img src="/img/logos/logo_horizontal_100.png" alt="" class="logo">
        </div>
        <div class="video-wrapper">
            <video class="video" id="headerVideo" autoplay="autoplay" muted controls="">
                <source src="{{ .Site.Params.intro_video }}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</header>