<section class="tc-process-style2 section-with-bg">
    <div class="row info-row">
        <div class="col-lg-4">
            {{ with .Params.about_us }}
            <div class="info light">
                <h5 class="fsz-30 text-uppercase mb-80 color-yellow1"> {{ .title }} </h5>
                <div class="text paraf-bottom fsz-18 mb-15">
                    {{ .content | markdownify }}
                </div>
                <div class="intro text paraf-bottom fsz-16 mb-15">
                    {{ .intro | markdownify }}
                </div>
                <a href="/about-us/" class="butn borderd mt-70 bg-white py-2 px-3 text-uppercase ltspc-1 hover-bg-dark1">
                    <span> More about us <i class="small ms-1 ti-arrow-top-right"></i> </span>
                </a>
            </div>
            {{ end }}

        </div>
        <div class="col-lg-4">
            {{ with .Params.services }}
            <div class="info yellow mt-80">
                <h5 class="fsz-30 text-uppercase mb-80"> {{ .title }} </h5>
                <div class="text paraf-bottom fsz-18 mb-15">
                    {{ .content | markdownify }}
                </div>
                <div class="intro text paraf-bottom fsz-16 mb-15">
                    {{ .intro | markdownify }}
                </div>
                <a href="/about-us/" class="butn borderd mt-70 bg-white py-2 px-3 text-uppercase ltspc-1 hover-bg-yellow1">
                    <span> More about our services <i class="small ms-1 ti-arrow-top-right"></i> </span>
                </a>
            </div>
            {{ end }}

        </div>
        <div class="col-lg-4">
            {{ with .Params.portfolio }}
            <div class="info light mt-40">
                <h5 class="fsz-30 text-uppercase mb-80 color-yellow1"> {{ .title }} </h5>
                <div class="text paraf-bottom fsz-18 mb-15">
                    {{ .content | markdownify }}
                </div>
                <div class="intro text paraf-bottom fsz-16 mb-15">
                    {{ .intro | markdownify }}
                </div>
                <a href="/projects/" class="butn borderd mt-70 bg-white py-2 px-3 text-uppercase ltspc-1 hover-bg-yellow1">
                    <span> More about our projects <i class="small ms-1 ti-arrow-top-right"></i> </span>
                </a>
            </div>
            {{ end }}
            {{ with .Params.clients }}
            <div class="info">
                <h5 class="fsz-30 text-uppercase mb-80 color-yellow1"> {{ .title }} </h5>
                <div class="text paraf-bottom fsz-18 mb-15">
                    {{ .content | markdownify }}
                </div>
                <div class="intro text paraf-bottom fsz-16 mb-15">
                    {{ .intro | markdownify }}
                </div>
                <a href="/clients/" class="butn borderd mt-70 bg-white py-2 px-3 text-uppercase ltspc-1 hover-bg-yellow1">
                    <span> More about our clients <i class="small ms-1 ti-arrow-top-right"></i> </span>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
    <!--<img src="/img/background/prc_bg.png" alt="" class="bg pores" data-speed="1.2">-->
</section>