<!--  request  -->
<script src="/js/vendor/jquery-3.0.0.min.js"></script>
<script src="/js/vendor/jquery-migrate-3.0.0.min.js"></script>
<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/js/vendor/wow.min.js"></script>
<script src="/js/vendor/jquery.fancybox.js"></script>
<script src="/js/vendor/lity.js"></script>
<script src="/js/vendor/swiper8-bundle.min.js"></script>
<script src="/js/vendor/jquery.waypoints.min.js"></script>
<script src="/js/vendor/jquery.counterup.js"></script>
<script src="/js/vendor/parallaxie.js"></script>
<!-- === Gsap === -->
<script src="/js/vendor/gsap.min.js"></script>
<script src="/js/vendor/ScrollSmoother.min.js"></script>
<script src="/js/vendor/ScrollTrigger.min.js"></script>
<script src="/js/vendor/SplitText.min.js"></script>
<!-- === common === -->
<script src="/js/common_js.js"></script>

<!-- ===== home scripts ===== -->
<script src="/js/home_3_scripts.js"></script>
<script src="/js/innerpages.js"></script>