<main class="fullpage-slider8">
<div class="swiper-wrapper">
<div class="swiper-slide swiper-slide-next" style="height: 966px;" role="group" aria-label="3 / 7">
    <section class="section tc-portfolio-style8">
        <div class="container">
            <div class="section-head mb-4 mb-lg-0"> <h3 class="fsz-30 fw-600 text-uppercase"> {{ .title }} </h3> </div>
            <div class="section-body">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="projects">
                            <div class="tab-content" id="pills-tabContent">
                                {{ range $k, $v := .list }}
                                {{ if eq $k 0 }}
                                <div class="tab-pane fade active show" id="pills-work-{{ $k }}">
                                {{ else }}
                                <div class="tab-pane fade" id="pills-work-{{ $k }}">
                                {{ end }}
                                    <div class="project-content">
                                        <div class="text fsz-16">{{ $v.content | markdownify }} </div>
                                        <!--<a href="#" class="butn border rounded-pill border-white hover-bg-orange1 text-capitalize text-white mt-20 fsz-13 pt-15 pb-15">
                                            <span> View Project </span>
                                        </a>-->
                                        <h2 class="title"> {{ $v.title }} </h2>
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                {{ range $k, $v := .list }}
                                    <li class="nav-item current" role="presentation" data-tab="portfolio-tab-{{ $k }}">
                                        <button class="nav-link active" id="pills-work1-tab" data-bs-toggle="pill" data-bs-target="#pills-work-{{ $k }}" type="button">{{ $v.title }}</button>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgs">
            {{ range $k, $v := .list }}
                {{ if eq $k 0 }}
                <img id="portfolio-tab-{{ $k }}" src="{{ $v.img }}" alt="" class="tab-img current">
                {{ else }}
                <img id="portfolio-tab-{{ $k }}" src="{{ $v.img }}" alt="" class="tab-img">
                {{ end }}

            {{ end }}
        </div>
    </section>
</div>
</div>
</main>