{{define "navbar"}}
{{ end }}
{{define "lander-loading"}}
    {{ partial "loading" . }}
{{ end }}
{{define "header"}}
    {{ partial "header-video" . }}
{{ end }}
{{ define "main"}}

{{ partial "process" .Params.introduction }}
{{ partial "team-2" . }}


    <!--  Start contact  -->
    <section class="tc-contact-style3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="map-side">
                        <h5 class="fsz-30 text-uppercase mb-90"> {{ .Params.contact.title }} </h5>
                        <div class="map">
                            <img src="assets/img/map.png" alt="" class="map-img">
                        </div>
                        {{ with .Params.contact.content }}
                            {{ . | markdownify }}
                        {{ end }}
                        
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="contact-info">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="info-card mb-30">
                                    <h4 class="fsz-45 text-uppercase mb-30"> {{ .Site.Params.contact.city }} </h4>
                                    <ul class="color-666 lh-6">
                                        <li> <a href="{{ .Site.Params.contact.map_link }}" target="_blank"> {{ .Site.Params.contact.address }} </a> </li>
                                        <li> <a href="#" class="ktk-eml-inf ktk-eml-inf-link">info@domain.com </a> </li>
                                        <!--<li> <a href="#"> (054) 3256 78 87 </a> </li>-->
                                    </ul>
                                    {{ with .Params.contact.call_to_action }}
                                        <a href="/contact/" class="butn rounded-pill mt-20 hover-bg-black bg-orange1 text-white">
                                            <span> {{ . }} <i class="small ms-1 ti-arrow-top-right"></i> </span>
                                        </a>
                                    {{ end }}
                                </div>
                            </div>
                            {{ with .Params.contact.content }}
                                <div class="col-lg-6">
                                    <div class="info-card mb-30">
                                        {{ . | markdownify }}
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End contact  -->

{{ end }}