{{define "navbar"}} 
{{ partial "navbar" . }}
{{ end }}
{{define "header"}}
{{ partial "header-inner-2" .Params }}
{{ end }}
{{ define "main"}}

<!--
{{ range $k, $v := .Params.sections }}
<section class="tc-project-style1">
    

    <div class="description">
        <div class="container">
            {{ with $v.title }}
            <h3 class="sub-title fsz-45 mb-60 wow fadeInUp slow" data-wow-delay="0.2s"> {{ . | markdownify }} </h3>
            {{ end }}
            <div class="text fsz-24 mb-20 fw-500 wow fadeInUp slow" data-wow-delay="0.2s"> {{ $v.content | markdownify }}</div>
        </div>
    </div>
</section>
{{ end }}
-->
{{ with .Params.content }}
<section class="tc-project-style1">
    <div class="description">
        <div class="container">
            <div class="text fsz-24 mb-20 fw-500 wow fadeInUp slow" data-wow-delay="0.2s"> {{ . | markdownify }}</div>
        </div>
    </div>
</section>

{{ end }}
<div class="services-pg-style1 about-us">
    <section class="tc-services-style1">
        
        <div class="content section-padding section-padding-x">
            <div class="container">
                <div class="services">

                    <div class="row">
                        {{ range $k, $v := .Params.sections }}
                        <div class="col-lg-6">
                            {{ if eq (mod $k 2) 0}}
                            <span href="#" class="service-card wow fadeInUp" data-wow-delay="0.2s">
                            {{ else }}
                            <span href="#" class="service-card mt-150 wow fadeInUp" data-wow-delay="0.4s">
                            {{ end }}
                                {{ with .icon }}
                                <div class="icon">
                                    <i class="{{ . }}"></i>
                                </div>
                                {{ end }}
                                <h5 class="fsz-24 mb-20"> {{ $v.title }} </h5>
                                {{ with .logo }}
                                <div class="img">
                                    <img src="{{ . }}" alt="" class="img-cover">
                                </div>
                                {{ end }}
                                <div class="text color-666 mt-50">
                                    {{ $v.content | markdownify}}
                                </div>
                                {{ with $v.logos }}
                                <div class="tc-partners-style3">
                                    <div class="logos">
                                        <div class="row center-middle-logos">
                                                {{ range . }}
                                                <span class="logo-card grayscale wow fadeInUp slow" data-wow-delay="0.2s">
                                                    <img src="{{ .logo }}" alt="{{ .title }}" class="cert logo">
                                                    <p class="title"> {{ .title }} </p>
                                                </span>
                                                {{ end }}
                                        </div>
                                    </div>
                                </div>
                                 {{ end}}
                            </span>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="text-center">
                    <a href="/contact/" class="butn rounded-pill mt-80 hover-bg-black bg-orange1 text-white">
                        <span> {{ .Params.call_to_action }} <i class="small ms-1 ti-arrow-top-right"></i> </span>
                    </a>
                </div>
            </div>
        </div>
        {{ with .Params.footer_image}}
        <div class="img-content wow device-screen">
            {{ partial "responsive-image" . }}
        </div>
        {{ end }}
    </section>
</div>

<!--
<div class="about-pg-style1">

<div class="rounded">
    {{ with .Params.certifications }}
        {{ partial "awards" . }}
    {{ end }}

    {{ with .Params.clients }}
        {{ partial "awards" . }}
    {{ end }}
</div>

<div class="text-center">
    <a href="/contact/" class="butn rounded-pill mt-80 hover-bg-black bg-orange1 text-white">
        <span> {{ .Params.call_to_action }} <i class="small ms-1 ti-arrow-top-right"></i> </span>
    </a>
</div>

</div>
-->
{{ end }}