{{define "navbar"}} 
{{ partial "navbar" . }}
{{ end }}
{{define "header"}}
    {{ partial "header-inner-2" .Params }}
{{ end }}
{{ define "main"}}


{{ with .Params }}
<!--
<header class="tc-inner-header-style1 pb-100">
    <div class="container">
        <div class="info">
            <h1 class="js-title"> {{ .h1 | markdownify }} </h1>
            <div class="text fsz-18 color-666 text-center"> {{ .intro | markdownify }} </div>
        </div>
    </div>
</header>
-->

<!--  Start contact-form  -->
<section class="tc-contact-form-style1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <div class="info wow fadeInUp slow" data-wow-delay="0.2s">
                    <h3 class="fsz-45 fw-500 mb-80"> {{ .call_to_action }} </h3>
                    <p class="fsz-14 color-666 mt-15"> Your email address will not be published. <br>
                       {{ .labels.required }} <span class="text-danger"> * </span> </p>
                </div>
            </div>
            <div class="col-lg-8">
                <form action="" class="form mt-5 mt-lg-0 wow fadeInUp slow" data-wow-delay="0.4s">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-30">
                                <label for=""> Full name <span class="color-orange1"> * </span> </label>
                                <input type="text" class="form-control" placeholder="your name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-30">
                                <label for=""> email address <span class="color-orange1"> * </span> </label>
                                <input type="text" class="form-control" placeholder="Your email address">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-30">
                                <label for=""> Phone <span class="color-999"> (optional) </span> </label>
                                <input type="text" class="form-control" placeholder="Your phone number">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-30">
                                <label for=""> subject <span class="color-orange1"> * </span> </label>
                                <select name="" id="" class="form-select form-control">
                                    <option value=""> {{ .labels.subject }} </option>
                                    {{ range .subjects}}
                                    <option value="{{.}}">{{.}}</option>
                                    {{ end }}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-30">
                                <label for=""> Message </label>
                                <textarea rows="6" placeholder="Write your message here"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="butn hover-bg-orange1 text-capitalize bg-white rounded-pill mt-40">
                        <span> Send Your Message <i class="fal fa-arrow-up-right ms-2"></i> </span>
                    </a>
                    <!--<p class="fsz-12 color-666 mt-20"> By summiting, i’m agree to the <a href="#"
                            class="color-000 text-decoration-underline"> Terms & Conditions </a> </p>-->
                </form>
            </div>
        </div>
    </div>
    <img src="assets/img/contact_shap.png" alt="" class="shap" />
    <iframe width="640px" height="480px" src="https://forms.cloud.microsoft/Pages/ResponsePage.aspx?id=cTiP_KQ8u0OIayYGNqkFZHhXxsKSjWxHoNeg64dhhPdUM1NHSk1PNFQyRFRVMFFENVZYTjhISVlCVS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</section>
<!--  End contact-form  -->

{{ end }}

{{ end }}